.button_wrapper {
    width:3.5vw;
    height:3.5vw;
    top:0vw;
    position:absolute;
    z-index:15;
    cursor:default;
    /*outline: red solid 1px;*/
    padding:.25vw;
}
.button_circle {
    position:relative;
    background-color:transparent;
    transition: background-color 60ms, border-color 60ms;
    box-sizing:border-box;
    width: 3.5em;
    height: 3.5em;
    margin:auto;
    top:.05em;
    border-radius: 3.5em;
    border:.1vw solid white;
}
.button_arrow {
    position: relative;
    box-sizing:border-box;
    border-left:.15vw solid white;
    border-bottom:.15vw solid white;
    transition: border-color 60ms;
    z-index:5;
    bottom:-.3em;
    margin: auto;
    height:.75em;
    width:.75em;
    overflow:hidden;
    font-size:2.5em;
}
.button_arrow_left {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.button_arrow_up {
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}
.button_arrow_right {
    -ms-transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
}
.button_arrow_down {
    -ms-transform: rotate(315deg);
    -webkit-transform: rotate(315deg);
    transform: rotate(315deg);
}
.button_circle.disabled {
    border-color:grey;
    pointer-events:none;
}
.button_circle.disabled .button_arrow {
    border-color:grey !important;
    pointer-events:none;
}