.button_wrapper {
    width:70px;
    height:70px;
    margin:5px;
    position:absolute;
    z-index:15;
    cursor:default;
}
.button_circle {
    position:relative;
    background-color:transparent;
    transition: background-color 60ms, border-color 60ms;
    box-sizing:border-box;
    width: 60px;
    height:  60px;
    margin:auto;
    top:0px;
    border-radius: 60px;
    border:2px solid white;
}
.button_arrow {
    position: relative;
    box-sizing:border-box;
    border-left:3px solid white;
    border-bottom:3px solid white;
    transition: border-color 60ms;
    z-index:5;
    bottom:-14px;
    margin: auto;
    height:27px;
    width:27px;
    overflow:hidden;
}
.button_arrow_left {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.button_arrow_up {
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}
.button_arrow_right {
    -ms-transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
}
.button_arrow_down {
    -ms-transform: rotate(315deg);
    -webkit-transform: rotate(315deg);
    transform: rotate(315deg);
}
.button_circle.disabled {
    border-color:grey;
    pointer-events:none;
}
.button_circle.disabled .button_arrow {
    border-color:grey !important;
    pointer-events:none;
}