dl > div {
  padding: 0;
  margin: 0;
}

dl {
  margin: 0;
  padding: 0;
  -webkit-margin-before:0;
  -webkit-margin-after:0;
}

dt {
  background: #B8C1C8;
  border-bottom: 1px solid #989EA4;
  border-top: 1px solid #717D85;
  color: #FFF;
  margin: 0;
  padding:1vw;
  font-size: 2em;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 5;
}

dd {
  margin: 0;
  padding: 0 .5vw;
  -webkit-margin-start:0;
}

dd > form {
  box-sizing:border-box;
  margin:0 auto;
  width:90%;
  position:relative;
  padding:0;
}

dd > form > p {
  display:inline-block;
  width:60%;
  box-sizing:border-box;
  margin:1vw 0;
}

dd > form > p > label {
  user-select:none;
  box-sizing:border-box;
  position:relative;
  display:inline-block;
  font-size:1em;
  word-wrap:normal;
  width:100%;
}

dd ~ dd > form {
 border-top: 1px solid black;
}

div.input_wrapper {
  box-sizing:border-box;
  position:absolute;
  padding:0;
  top:.5vw;
  margin-bottom:1vw;
  right:0;
  line-height:0px;
}
