body {
  width: 100%;
  height:100%;
  overflow:hidden;
  position:relative;
  background-color:#323b43;
}
a {
  padding:50px;
}
img {
  /*box-shadow: 0px 0px 15px 2px #000000 inset;*/
  /*border:1px solid black; border-radius:15px;*/
  border:0px;
  margin:1% 0;
}
img.anywhere {
  -webkit-filter: drop-shadow( 0px 0px 10px #54b203 );
  filter: drop-shadow( 0px 0px 10px #54b203 );
  -webkit-animation: anywhere-animation 3s infinite;
  animation: anywhere-animation 3s infinite;
}
@-webkit-keyframes anywhere-animation {
  0% {
    -webkit-filter: drop-shadow( 0px 0px 7px #54b203 );
  }

  50% {
    -webkit-filter: drop-shadow( 0px 0px 15px #54b203 );
  }

  100% {
    -webkit-filter: drop-shadow( 0px 0px 7px #54b203 );
  }
}
@keyframes anywhere-animation {
  0% {
    filter: drop-shadow( 0px 0px 7px #54b203 );
  }

  50% {
    filter: drop-shadow( 0px 0px 15px #54b203 );
  }

  100% {
    filter: drop-shadow( 0px 0px 7px #54b203 );
  }
}
img.appliance {
  -webkit-filter: drop-shadow( 0px 0px 10px #00b3d9 );
  filter: drop-shadow( 0px 0px 10px #00b3d9 );
  -webkit-animation: appliance-animation 3s infinite;
  animation: appliance-animation 3s infinite;
}
@-webkit-keyframes appliance-animation {
  0% {
    -webkit-filter: drop-shadow( 0px 0px 7px #00b3d9 );
  }

  50% {
    -webkit-filter: drop-shadow( 0px 0px 15px #00b3d9 );
  }

  100% {
    -webkit-filter: drop-shadow( 0px 0px 7px #00b3d9 );
  }
}
@keyframes appliance-animation {
  0% {
    filter: drop-shadow( 0px 0px 7px #00b3d9 );
  }

  50% {
    filter: drop-shadow( 0px 0px 15px #00b3d9 );
  }

  100% {
    filter: drop-shadow( 0px 0px 7px #00b3d9 );
  }
}
#landing_links_wrapper {
  position: relative;
  box-sizing: border-box;
  /*
  border-top: 250px solid #58636c;
  border-bottom: 250px solid #58636c;
  */
 background-color:rgba( 0, 0, 0, .4);
  margin-top:15%;
  width:100%;
  padding-left:250px;
  padding-top:30px;
  padding-bottom:30px;
  overflow:hidden;
}
#background_wrapper {
  position:absolute;
  display:block;
  box-sizing:border-box;
  width:75%;
  height:150vh;
  top:-50vh;
  left:-10%;
  background:url(/assets/img/AV-Corporate-Logo.big.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-color:#323b43;
  z-index:-2;
}
#inner_background_wrapper {
  position:absolute;
  box-sizing:border-box;
  z-index:-1;
  background:url(/assets/img/AV-Corporate-Logo.big.svg);
  background-size: 101%;
  height:150vh;
  width:75%;
  top:-50vh;
  left:-10.5%;
  background-repeat: no-repeat;
  background-color:#323b43;
  filter: blur( 10px );
  -webkit-filter: blur( 10px );
}

