

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  background-color:#f4f7fa;
  color:#45515b;
  box-sizing:border-box;
  font-family:Museo_Slab;
  font-weight:100;
  display:inline-block;
  position:relative;
  text-align:right;
  width:7.5vw;
  padding:.45em .5em .45em 0;
  margin:0 2.2vw;
  border:2px solid #00B3DC;
  font-size:.8em;
  line-height:0px;
  height:2vw;
}
div.button {
  position:absolute;
  box-sizing:border-box;
  border:1px solid #00B3DC;
  border-radius:2vw;
  display:inline-block;
  height:2vw;
  width:2vw;
}
div.button:active {
  background-color:#27cdf1;
}
.button.minus {
  left:0px;
}
.button.minus::before {
  content: '';
  width: 1.4vw;
  height: .1vw;
  border-top: .1vw solid #00B3DC;
  display: block;
  position: absolute;
  margin-top: .9vw;
  margin-left: .25vw;
}
.button.plus {
  right:0px;
}
.button.plus::before {
  content: '';
  width: 1.4vw;
  height: .1vw;
  border-top: .1vw solid #00B3DC;
  display: block;
  position: absolute;
  margin-top: .9vw;
  margin-left: .25vw;
}
.button.plus::after {
  content: '';
  box-sizing:border-box;
  width: .1vw;
  height: 1.4vw;
  border-right: .1vw solid #00B3DC;
  display: block;
  position: absolute;
  margin-top: .25vw;
  margin-left: .9vw;
  }
