span {
  display:inline-block;
}
.flex_container {
  display:flex;
  align-items:stretch;
  justify-content:space-between;
}
#wrapper {
  margin:0px;
  position:fixed;
  width:100%;
  height:100%;
  background-color:#d8dfe4;
}
#report_wrapper {
  position:absolute;
  width:56vw;
  margin: 0 22vw;
  z-index:-1;
  box-shadow: 0px 0px 15px;
  overflow-y: auto;
  height:100%;
  top:0px;
  background-color:#f4f7fa;
  padding-top:100px;
  padding-bottom:200px;
}
#report_wrapper_inner {
  flex-direction:column;
  position:relative;
  width:100%;
  margin:0 auto;
  -webkit-filter: blur(15px);
  filter: blur(10px);
  transition: filter 600ms;
  margin-bottom:200px;
}
.report_slide {
  padding-right:40px;
  padding-left:40px;
}
.report_slide li ul {
  display:flex;
  align-items:stretch;
  justify-content:space-between;
  margin-top: .5vw;
}
.report_slide li ul li {
  float:left;
  flex-basis:20%;
  text-align:right;
  padding-right:50px;
}
.label {
  flex-grow:3;
  text-align:left !important;
}
.header {
  border-bottom: 1px solid #e84b36;
  padding-top:.5vw;
}
.header li {
  font-size:1.2em;
  /*text-align:center !important;
  padding:0 !important*/
}
.header li.label {
  font-size:1.5em !important;
  text-align:left !important;
  color:#015697;
}
.total li {
  border-top:1px solid black;
}
.total li.label {
  font-size:1.3em;
  text-align:right !important;
  border-top:0px !important;
  color:#015697;
}
.grand_total {
  margin-bottom: 30px;
  color:#015697;
  border-top: 1px solid black;
  padding-top: 15px;
  border-bottom: 1px solid black;
  padding-bottom: 15px;
  break-after: always;
  font-size:1.2em;
}
.eps_table {
  break-before:always;
  box-sizing:border-box;
  padding:15px;
  width:88%;
  margin: 0 auto;
  margin-top: 100px;
  border:15px solid grey;
  background-color:rgba(50, 50, 50, .05);
}
.eps_table li {
  box-sizing:border-box;
}
.eps_table li:nth-child(odd) {
  background-color:rgba(50, 50, 50, .1);
}
.eps_table li ul {
  display:flex;
  align-items:stretch;
  justify-content:space-between;
  padding:0px;
}
.eps_table li ul li {
  float:left;
  text-align:right;
  flex-basis:25%;
  padding:5px 15px 5px 5px;
}
.eps_table li ul:not(.header):not(.subheader) li:not(.label) {
  font-size:.8em;
  padding-top:10px;
}
.eps_table li ul li:nth-child(odd) {
  background-color:rgba(50, 50, 50, .1);
}
.eps_table li ul.header {
  border-bottom:0;
  font-size:1.2em;
  text-align:center;
}
.eps_table li ul.header li:nth-last-child(1) {
  flex-basis:50%;
  text-align:center;
  border-bottom:1px solid black;
  margin-right: 0px !important;
}
.eps_table li ul.header li {y

}
.eps_table li ul li.label {
  font-size:1.2em;
  padding-left:15px;y
}
.subheader {
  border-bottom:1px solid black;y
}
.subheader li {
  font-size:1.2em;
}
#misc li ul li {
  flex-basis:25%;
}
#reco_box {
  position:relative;
  display:block;
  border-top:1px solid black;
  width:50%;
  margin: 50px auto;
  min-height:100px;
}
