span {
	display:inline-block;
}
.flex_container {
	display:flex;
	align-items:stretch;
	justify-content:space-between;
}
#report_wrapper_inner {
	flex-direction:column;
	position:relative;
	
}
.report_slide {
	padding-right:40px;
}
.report_slide li ul {
	display:flex;
	align-items:stretch;
	justify-content:space-between;
}
.report_slide li ul li {
	float:left;
	flex-basis:20%;
	text-align:right;
	padding-right:50px;
}
.label {
	flex-grow:3;
	text-align:left !important;
}
.header {
	border-bottom: 1px solid black;
}
.header li {
	font-size:1.2em;
	/*text-align:center !important;
	padding:0 !important*/
}
.header li.label {
	font-size:1.5em !important;
	text-align:left !important;
}
.total li {
	border-top:1px solid black;
}
.total li.label {
	font-size:1.3em;
	text-align:right !important;
	border-top:0px !important;
}
.grand_total {
	margin-bottom: 30px;
	border-top: 1px solid black;
	padding-top: 15px;
	border-bottom: 1px solid black;
	padding-bottom: 15px;
	break-after: always;
	font-size:1.2em;
}
.eps_table {
	padding-right:40px;
}
.eps_table li ul {
	display:flex;
	align-items:stretch;
	justify-content:space-between;
}
.eps_table li ul li {
	float:left;
	text-align:right;
	flex-basis:25%;
	margin-left:15px;
	margin-right:15px;
}
.eps_table li ul.header {
	border-bottom:0;
	text-align:center;
	padding-right:40px;
}
.eps_table li ul.header li:nth-last-child(1) {
	flex-basis:50%;
	text-align:center;
	border-bottom:1px solid black;
	margin-right: 0px !important;
}
.eps_table li ul.header li {

}
.eps_table li.label {
	font-size:1em;
}
.subheader {
	border-bottom:1px solid black;
}
.subheader li {
	font-size:1.2em;
}
#misc li ul li {
	flex-basis:25%;
}
#reco_box {
	position:relative;
	display:inline-block;
	outline:black solid 1px;
	width:50%;
	margin: 50px auto;
	min-height:100px;
}