
select {
  position:relative;
  box-sizing:border-box;
  appearance:none;
  -webkit-appearance:none;
  -moz-appearance:none;
  display:inline-block;
  font-size:1em;
  width:15vw;
  border-radius:0;
  padding-top:.25vw;
  padding-bottom:.25vw;
  padding-left:1vw;
  border:0;
  box-shadow: 0 0 5px 2px black;
}
div.input_wrapper.select::after {
  content: ' ';
  position:absolute;
  box-sizing:border-box;
  display:block;
  width:.8em;
  height:.8em;
  border-top:.8em solid black;
  border-right:.6em solid transparent;
  border-left:.6em solid transparent;
  top:.2em;
  right:.2em;
  pointer-events:none;
}
